<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1078945104046-oodfd25366rrlg949fq9cit1akti41eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078945104046-oodfd25366rrlg949fq9cit1akti41eq</string>
	<key>API_KEY</key>
	<string>AIzaSyB6z50kmVxi2Hjp-JJYGcbnHqLva2TUiOc</string>
	<key>GCM_SENDER_ID</key>
	<string>1078945104046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PProfiles.profiles</string>
	<key>PROJECT_ID</key>
	<string>pprofiles-4c717</string>
	<key>STORAGE_BUCKET</key>
	<string>pprofiles-4c717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078945104046:ios:b8dfe26b796581c7</string>
	<key>DATABASE_URL</key>
	<string>https://pprofiles-4c717.firebaseio.com</string>
</dict>
</plist>